body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background: #f5f5f5;
}

.main-container {
    display: flex;
    max-width: 1000px;
    height: auto;
    margin: 0 auto;
    background: white;
    padding: 12px;
    border-radius: 6px;
}

.editor-area {
    flex: 1;
    width: 45%;
    padding: 15px;
    background: #f8f9fa;
    border-right: 1px solid #ddd;
}

.output-area {
    flex: 1;
    padding: 15px;
    display: none;
}

.output-area.visible {
    display: flex;
    flex-direction: column;
    width: 50%;
    flex-shrink: 0
}

.code-input {
    width: 100%;
    height: 450px;
    font-family: monospace;
    font-size: 14px;
    border: 1px solid #ddd;
}

.run-btn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 15px;
}

.run-btn:hover {
    background: #45a049
}

.output {
    font-family: monospace;
    white-space: pre-wrap;
    margin-top: 12px;
    padding: 10px;
    background: #f6f6f6;
    border-radius: 2px;
    height: 100%;

    overflow-x: auto;
    overflow-y: auto;
    max-height: 500px;
    
    word-break: break-all;
    word-wrap: break-word;
}

.output-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background: white;
    color: #111;
    border: none;
    padding: 1px 5px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
}

.close-btn:hover {
    background: #e0e0e0;
}